#e2_0 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e2_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(90.00000223517418, 79.00000289082527, 207.00000286102295, 1);
	opacity:1;
	width:283px;
	height:95px;
	position:absolute;
	left:1607px;
	top:22px;
}#e2_11 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:182px;
	height:51px;
	position:absolute;
	left:81px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:undefined;
}#e4_8 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(90.00000223517418, 79.00000289082527, 207.00000286102295, 1);
	opacity:1;
	width:283px;
	height:95px;
	position:absolute;
	left:1607px;
	top:22px;
}#e4_9 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:182px;
	height:51px;
	position:absolute;
	left:81px;
	top:20px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:undefined;
}#e2_6 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(90.00000223517418, 79.00000289082527, 207.00000286102295, 1);
	width:272px;
	height:95px;
	position:absolute;
	left:1279px;
	top:22px;
}#e2_10 { 
	color:rgba(90.00000223517418, 79.00000289082527, 207.00000286102295, 1);
	opacity:1;
	width:144px;
	height:55px;
	position:absolute;
	left:44px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:undefined;
}#e4_2 { 
	color:rgba(90.00000223517418, 79.00000289082527, 207.00000286102295, 1);
	opacity:1;
	width:424px;
	height:55px;
	position:absolute;
	left:333px;
	top:42px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:undefined;
}#e4_4 { 
	color:rgba(90.00000223517418, 79.00000289082527, 207.00000286102295, 1);
	opacity:1;
	width:303px;
	height:37px;
	position:absolute;
	left:888px;
	top:42px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:undefined;
}#e4_5 { 
	color:rgba(90.00000223517418, 79.00000289082527, 207.00000286102295, 1);
	opacity:1;
	width:855px;
	height:305px;
	position:absolute;
	left:145px;
	top:381px;
	font-family:Petrona;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
	line-height:undefined;
}#e4_6 { 
	opacity:1;
	width:606px;
	height:467px;
	position:absolute;
	left:1062px;
	top:403px;
	background-image:url(images/erectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e4_10 { 
	background-color:rgba(90.00000223517418, 79.00000289082527, 207.00000286102295, 1);
	opacity:1;
	width:371px;
	height:102px;
	position:absolute;
	left:333px;
	top:674px;
}#e4_12 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:259px;
	height:42px;
	position:absolute;
	left:390px;
	top:697px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}#e15_1 { 
	opacity:1;
	width:325px;
	height:295px;
	position:absolute;
	left:8px;
	top:4px;
	background-image:url(images/erectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}